<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="UTF-8">
    <title>I'M GLAD YOU FIND HERE</title>
    <link rel="stylesheet" type="text/css" href="love.css">
</head>
<body>
    <div align="center">
        <p style="font-family: 'Yuanti SC';">肖晓雪,</p>
        <p>能在那个酒吧遇见你,</p>
        <p style="font-family: 'Yuanti SC'">真是太好了.</p>
        <p style="font-family: 'Yuanti SC'">因为那是我唯一一次</p>
        <p>鼓起勇气去搭讪.</p>
        <p style="font-family: 'Yuanti SC'">可能我就是你人生中的一缕过眼云烟,</p>
        <p style="font-family: 'Yuanti SC'">但,</p>
        <p style="font-family: 'Yuanti SC'">光是遇见你,</p>
        <p style="font-family: 'Yuanti SC'">我就很幸福了.</p>
        <p style="font-family: 'Xingkai SC'">希望有人以后能看到这里,一个程序员的思念.我的第一个网站,献给你.虽然很粗躁哈.LOL</p>


        <h2 style="font-family: 'Xingkai SC'"><b>《遇见》</b></h2>
        <p style="width: 75%; font-family: 'Xingkai SC'">我不知道为什么，似乎你让我养成了一种习惯：当在哥大校园穿梭的时候，我不知不觉地就会偶然经过Avery，不经意间就会抬头望向4楼的那扇窗。那个时候的你，在做什么呢？会不会偶尔透过这扇窗望向远方呢？</p>

        <p style="width: 75%; font-family: 'Xingkai SC'">可是，那望眼穿不透的，竟是一层薄薄的玻璃，关于你此时的一切都与我无缘。我能做的，不过也就是和那些你不曾留意的陌生人一样，消弭于时间无垠的荒野里。</p>

        <p style="width: 75%; font-family: 'Xingkai SC'">我没有早一步，也没有晚一步，可你却迟迟不曾出现在那扇窗的后面。一颗萌动的心瞬间又变得死寂。又一次，精心策划的偶然路过，以及意料之中的失落。</p>
    </div>
</body>
</html>