<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SUDU</title>
</head>
<body>
    <h1><strong>SUDU Project Management System</strong></h1>
        <p><strong>SUDU</strong> is the abbreviation of <i>SU</i>peruser <i>DU</i>e.</p>
        <p>We want to develop a management system to manage our projects when in teamwork.</p>
        <p>Also, we want to accelerate the project by providing seamless teamwork toolbelt.</p>
        <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif"><u>Here comes our prototype.</u></p>

    <h2><strong>Team Member</strong></h2>
    <h3>iOS Frontend</h3>
        <ul>
            <li><a href="http://www.ee.columbia.edu/">Xiwei Feng</a></li>
            <li><a href="http://www.ee.columbia.edu/">Zhaopeng Yuan</a></li>
        </ul>
    <h3>Django&Heroku Backend</h3>
        <ul>
            <li><a href="http://www.ee.columbia.edu/">Guihao Liang</a></li>
        </ul>
    <p><a href={% url "db_manager:detail" %}>HOW TO USE</a></p>
    <img src="http://olivierlacan.com/images/wee-bey.gif">

</body>
</html>